body {
    min-width: 992px;
    height: 100vh; /* 使用视口高度作为整个界面的高度 */
    font-size: 18px;
/*    background: #f5c6cb;*/
    background: #FFFFFF;
}

.container {
    width: 100%; /* 使用百分比宽度使容器随窗口大小变化 */
    height: 100%; /* 使用百分比高度使容器随窗口大小变化 */
    display: flex;
    flex-direction: column;
}

.header {
    height: 10%; /* 使用百分比高度使头部随窗口大小变化 */
}

.content {
    flex: 1; /* 使用flex-grow属性使内容区域填充剩余空间 */
}




.footer {

    width: 100vw; /* 100% of the viewport's width */
    height: 10vh; /* 10% of the viewport's height */
}

*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

.container-head{
    display: flex;
}

.main-left{
    width: 220px;
    background-color: #f0f0f0;
}

.main-right{
    flex: 1;
    padding: 10px 30px;
/*    width: 70%; !* 70% of the parent element's width *!*/
    height: 100%;
    width: 100%;
    overflow: auto;
}


.fa fa-music{
    line-height: 40px;
}
.main-item{
    position: fixed;
    left: 0;
    top:0;
    bottom: 0;
    width: 220px;
    background-color: #f0f0f0;
}
.container-head ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container-head ul li {
    display: inline-block;
    margin-right: 10px;
}

.container-head a {
   /* display: inline-flex;*/
    align-items: center;
    text-decoration: none;
}

.container-head img,
.container-head span {
    margin-right: 5px;
}


.music_title{
    padding: 15px 20px;
    color: #777;
}
.main_left_subnav li{
    line-height: 40px;
}
.main_left_subnav li a{
    display: block;
    padding-left: 20px;
    font-size: 16px;
    height: 40px;
    width: 200px;
}
.main_left_subnav li i{
    padding-right: 10px;
    font-size: 18px;
}
.main_left_subnav li a:hover {
    background-color: #31C27C;
    color: #fff;
}

.main-right-search{
    position: relative; /* 新增的代码 */
    text-align: right;
}

.main-right-search input{
    padding: 5px 10px;
    padding-right: 30px; /* 增加的代码，根据你的图标大小进行调整 */
    width: 200px;
    outline: none;
}

.main-right-search i {
    position: absolute;
    right: 5px; /* 调整的代码，根据你的需求进行调整 */
    top: 50%; /* 调整的代码 */
    transform: translateY(-50%); /* 新增的代码，使图标垂直居中 */
    width: 20px; /* 新增的代码，调整图标的大小 */
    height: 20px; /* 新增的代码，调整图标的大小 */
}

.main-right-search input:focus {
    border-color: red;
}

.main-right-hd h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.main-right-tab {
    text-align: center;
    height: 50px;
}

.main-right-tab a{
    margin: 0 25px;
    position: relative;
    font-size: 25px;
}

.main-right-tab a:hover{
    color: #31C27C;
}

.main-right-tab a:before{
    content: '';
    width: 100%;
    height: 2px;
    background: #7abaff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scale(0);
    transition: all 0.3s;
}
.main-right-tab a:hover::before{
    transform: scale(1);
}


/*!* 轮播图 *!*/
.carousel {
    perspective: 1200px;
    width: 400px;
    margin: 0 auto;
    position: relative;
}

#slider {
    width: 100%;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 200px;
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 5px rgba(0,0,0,0.9);
}

.slide img {
    width: 100%;
    height: auto;
}

.nav-button-container {
    position: absolute;
    top: 40%;
    left: -250px;
    right: -250px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-button {
    background-color: rgba(128, 128, 128, 0.3);
    color: white;
    border: none;
    padding: 100px 15px;
    font-size: 16px;
}

#prev {
    margin-right: 20px;
}

#next {
    margin-left: 10px;
}


/*小圆点*/
.main-right-switch{
    text-align: center;
    padding-top: 20px;
    margin-top: 15px;
}

.main-right-switch a{
    display: inline-block;
    padding: 4px;
    border-radius: 50%;
    background-color: rgb(0,0,0.1);
    margin: 0 7px;
}

.main-right-switch .selected{
    background-color: rgb(0,0,0,.3);
}


/* Navigation buttons */
/*
button {
    !*position: absolute;*!
    top: 50%;
    transform: translateY(-50%);
}
*/

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

/*歌单推荐*/

.main-right-hot h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.main-right-hot ul{
    display: flex;
    justify-content: space-between;
}
.main-right-hot ul li{
    flex: 0 1 18%;
    position: relative;
}

.hot_play{
    background: url('../image/播放.png');
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    display: none;
}

.main-right-hot li:hover.hot_play{
    display: block;
    transform: scale(.3);
}

.main-right-hot li img:hover{
    transform: scale(1.1);
}

.main-right-hot li p{
    margin: 10px 0;
}


/*//!底部音乐栏样式 **/
/* .footer_list：用于设置页脚部分的样式 */
footer {
    min-width: 992px;
    height: 100px;
}

/* .footer-middle：页脚部分的中间区域 */
/*.footer-middle {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}*/

/*!* FontAwesome 图标样式 *!*/
.footer-btn a {
    font-size: 30px;
    color: #333;
    text-decoration: none;
    margin: 0 30px;

}
.footer-btn{
    display: flex;
    margin-left:380px;
}


/* .footer_list：页脚整体样式 */
.footer_list {
    display: flex;
/*  justify-content: space-between;*/
align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* .footer-left：页脚部分的左侧区域 */
.footer-left {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.footer-left, .footer-middle, .footer-right {
    flex: 1;  /* 分配空间的比例为1：1：1 */
}

.image{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}
/* .footer-left img：页脚左侧的图片 */
.footer-left img {
    width: 80px;
    height: 80px;
    margin-left: 100px;
}

/* .song-details：歌曲详情容器，用于包含歌曲名和艺术家名 */
.song-details {
    display: flex;
    flex-direction: column;
}

/* .song-name, .artist-name：歌曲名和艺术家名的样式 */
.song-name,
.artist-name {
    margin: 5px;
    font-size:20px;
}



/* .progress-bar：进度条样式 */
.progress-bar {
   display: flex;
   /* align-items: center;*/
    margin-left: 260px;
    margin-top: 20px;
}

/* .current-time, .total-time：当前时间和总时间的样式 */
.current-time,
.total-time {
    margin: 0 10px;
}


.fa:hover {
    color: #666;
}

.footer-right {
    font-size: 20px;
    color: #6c757d;
    margin-left: 280px;



}
.footer-right a{
    text-decoration: none;
    margin: 0px 10px;
}


.volume-display{
    margin-left: 85px;
    color: red;
    text-decoration: none;
    margin-bottom: -20px;
}



/****鼠标悬停****/
.image {
    position: relative;
    width: 60%;
    margin-top: 20px;
}

.user-name {
    text-align: center;
    font-size: 20px;
}

.hover-menu {
    display: none;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #f9f9f9, #e9e9e9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 10px;
    border-radius: 5px;
}

.hover-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hover-menu li {
    padding: 5px;
}

.hover-menu a {
    color: black;
    text-decoration: none;
    display: block;
    transition: color 0.2s;
}

.hover-menu a:hover {
    color: #007BFF;
}

.image:hover .hover-menu {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


/*****左边导航栏****/

#music1.active {
    background-color: #31C27C;
    color: #FFFFFF;
}
#music2.active {
    background-color: #31C27C;
    color: #FFFFFF;
}

#music4.active {
    background-color: #31C27C;
    color: #FFFFFF;
}
/******  个人信息****/





/******歌词******/
.lyrics-panel {
    position: fixed;
    width: 100%;
    bottom: 100%;
    height: 50%;
 /*  background: rgb(56,69,89);*/
   /* background: rgb(242,242,242);*/
    background: #86cfda;
    z-index: 1000;
    transition: bottom 0.5s;
    overflow-y: auto; /* 垂直方向滚动条 */
}

.song-details-panel {
    display: flex;
    height: 100%;
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container, .lyrics {
    width: 50%;
    height: 100%;
    overflow: hidden; /* 隐藏滚动条 */
}

.song-image {
    width: 50%;
    height: 50%;  /* 调整图片的高度 */
    object-fit: cover; /* 图片适应容器大小 */
    border-radius: 10px; /* 设置为圆形 */
    margin-bottom: 10px; /* 添加一些边距 */
}

.song-name-panel, .artist-name-panel {
    text-align: center; /* 文本居中 */
}

.lyrics p.current {
    animation: scale 1s linear;
}


@keyframes scale {
    0% { font-size: 100%; }
    50% { font-size: 150%; }
    100% { font-size: 100%; }
}

.lyrics {
/*    align-items: center;
    text-align: center;*/
    width: 50%;
    height: 80%;
    padding: 1em;
    overflow: hidden;  /* 默认情况下隐藏滚动条 */
    line-height: 3;  /* 设置行间距为 1.5 倍的字体大小 */
    font-size: 25px;
}

.lyrics:hover {
    overflow: auto;  /* 当鼠标悬停时显示滚动条 */
}
/*.divider {
    border-left: 1px dashed #000;  !*设置为虚线*!
    height: 100%;
}*/


.hide-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}


/* 修改滚动条的宽度 */
.lyrics::-webkit-scrollbar {
    width: 5px;
    background-color:rgb(137,207,218); /* 滚动条背景色 */
}

/* 修改滚动条背景色 */
.lyrics::-webkit-scrollbar-track {
    background-color: rgb(137,207,218); /* 轨道背景色 */
    border-radius: 2px; /* 轨道边界半径 */
}

/* 修改滚动条滑块颜色 */
.lyrics::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px; /* 滑块边界半径 */
}

/* 修改滚动条滑块在鼠标悬停时的颜色 */
.lyrics::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.lyric-line {
    transition: all 0.5s ease;  /* 这使得效果平滑地过渡 */
}

.lyric-line:hover {
    transform: scale(0.9);  /* 这使得选中的行变大 */
    border: 2px solid #FF6347;  /* 这使得选中的行被一个框包围 */
    border-radius: 10px; /* 这使得框有圆角 */
}
/****歌词浮窗****/
.current-lyric {
    position: fixed;  /* 固定位置 */
    z-index: 9999;  /* z-index 设置为 9999，保证在最顶层 */
    top: 10%;  /* 设置从顶部 50% 的位置开始 */
    left: 55%;  /* 设置从左边 50% 的位置开始 */
    transform: translate(-50%, -50%);  /* 用 transform 平移，保证歌词在屏幕中心 */
    background-color: rgba(0, 0, 0, 0.7);  /* 背景色设置为半透明的黑色 */
    color: white;  /* 字体颜色设置为白色 */
    padding: 20px;  /* 内部填充 20px */
    border-radius: 10px;  /* 边缘半径 10px，用来生成圆角 */
    font-size: 24px;  /* 字体大小 24px */
    text-align: center;  /* 文字居中显示 */
}



.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.paginator span {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #333;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.paginator span:hover {
    background-color: #333;
    color: #fff;
}

.paginator span.active {
    background-color: #333;
    color: #fff;
}





/*******播放列表******/
#playlist1 {
    position: fixed; /* 固定位置 */
    top: 0; /* 距离顶部0 */
    right: 0; /* 距离右侧0 */
    bottom: 0; /* 距离底部0 */
    width: 500px; /* 加大宽度 */
    height: calc(100vh - 100px); /* 修改了这里 */
    overflow-y: scroll; /* 长度很长时，使用滚动条 */
    padding: 20px; /* 加大内边距 */
    box-sizing: border-box; /* 让padding包含在宽度和高度内 */
    transform: translateX(100%); /* 将其移出屏幕 */
    transition: transform 0.5s ease; /* 这将使其平滑地移动 */
    display: none; /* 使其初始状态为隐藏 */
    border: 1px solid black; /* 添加黑色边框 */
    background-color: #d6d8d9; /* 添加了这里，可以改为你想要的颜色 */
    z-index: 9999;
}

.header1 {
    display: flex;
    flex-direction: column; /* 现在标题和总歌曲数在一个列 */
    align-items: flex-start; /* 使标题和总歌曲数靠左 */
    margin-bottom: 20px; /* 使标题和总歌曲数与表单有一些距离 */
}

.title1 {
    margin-bottom: 10px; /* 把总歌曲数放在标题下面 */
}

.clear {
    align-self: flex-end; /* 清空列表链接靠右 */
    margin-bottom: 20px; /* 使清空列表链接与表单有一些距离 */
/*    text-decoration: none; */
}

/****滚动条*****/

/* 修改滚动条的宽度 */
#playlist1::-webkit-scrollbar {
    width: 5px;
    background-color:rgb(137,207,218); /* 滚动条背景色 */
}

/* 修改滚动条背景色 */
#playlist1::-webkit-scrollbar-track {
    background-color: rgb(137,207,218); /* 轨道背景色 */
    border-radius: 2px; /* 轨道边界半径 */
}

/* 修改滚动条滑块颜色 */
#playlist1::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px; /* 滑块边界半径 */
}

/* 修改滚动条滑块在鼠标悬停时的颜色 */
#playlist1::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#playlist1 table {
    width: 100%;
    border-collapse: collapse; /*是表格边框合并为一个单元 */
}


thead {
    background-color: #f2f2f2;
}


thead th {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}


tbody td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


tbody tr:not(:first-child):hover {
    background-color: #f5f5f5;
}

/*tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}*/


/*****我的主页*****/
.playlist1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    padding: 0 20px;
}

#playlist-image1 {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.playlist-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.underline {
    border-top: 2px solid #1d2124;
    width: 100%;
    margin: 10px 0;
}

/* New styles to remove underlines from link items and add vertical lines */
.link-item {
    text-align: center;
    margin: 0 15px;
    text-decoration: none; /* 去下划线 */
    position: relative;
}

.link-item:before,
.link-item:after {
    content: "";
    position: absolute;
    border: 1px solid #1d2124;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 0;
}

.link-item:before {
    left: -15px; /* Position the left vertical line */
}

.link-item:after {
    right: -15px; /* Position the right vertical line */
}

#edit-info {
    padding: 10px; /* 调整内边距来更好地适应边框 */
    margin-bottom: 5px;
    margin-left: 800px;
    transform: scale(0.9);  /* 这使得选中的行变大 */
    border: 2px solid #4CAF50;  /* 这使得选中的行被一个框包围 */
    border-radius: 10px; /* 这使得框有圆角 */
    color: #000;; /* 将文字颜色设置为白色，以增加对比度 */
    /*background-color: #FF6347; !* 设置背景颜色为红色 *!*/
}

.playlist-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.link-container {
    display: flex;
    /*justify-content: space-between;*/
    width: 150px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.tabs1 {
    justify-content: space-around;
    background-color: #f5f5f5;
    padding: 10px 0;
}



/****我创建的歌单*****/
.playlist2 {
    display: flex;
    flex-direction: column;
    align-items: center;
width: 100%;
border: 1px solid #ccc;
box-sizing: border-box;
}

.playlist-image {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover; /* yyds奶奶的 */
    transition: transform 0.3s ease-in-out;
}


.playlist2:hover .playlist-image {
    transform: scale(1.1);
}

.play-icon {
    position: absolute;
    color: #ff052b;
    visibility: hidden;
}
.active-tab {
    font-weight: bold; /* 字体加粗 */
    color: black;
    border-bottom: 4px solid red; /* 红色下划线 */
}

.playlist2:hover .play-icon {
    visibility: visible;
}

.playlist-name, .playlist-count {
    margin: 0;
padding: 0;
}


/*****创建歌单****//* 隐藏模态框 */
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal1-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px; /* 添加圆角边框 */
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal1-title {
    text-align: center; /* 让标题居中 */
}

#create-button {
    background-color: red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#create-button:disabled {
    background-color:rgb(169,53,110);
    cursor: not-allowed;
}

.button-container {
    display: flex;
    justify-content: center; /* 将按钮居中 */
}

.avatar-upload {
    display: flex;
    flex-direction: column;
    align-items: center; /* 将头像居中 */
    margin-bottom: 15px; /* 添加一些底部边距 */
}

#avatarImage2 {
    width: 100px;
    height: 100px;
    object-fit: cover; /* 图片保持其原始宽高比，但是会被剪裁以适应 */
    border-radius: 50%; /* 圆形头像 */
}
#avatar2 {
    display: none; /* 隐藏文件输入元素 */
}

/*****管理歌单****/
.context-menu {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    display: none;
    z-index: 1000;
    border-radius: 5px;
}

.context-menu li {
    padding: 10px;
}

.context-menu li:hover {
    background-color: #ccc;
}
/*
.context-menu {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ff052b;
    border: 5px solid #ccc;
}

.context-menu li {
    padding: 5px 10px;
}

.context-menu li:hover {
    background-color: #eee;
}
*/


/* 操作成功 */
.success-message {
    position: fixed;
    top: 10%; /* Adjust the value to move the message higher or lower */
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 20px;
    background-color: red; /* Change the background color to red */
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
}

/******编辑歌单信息****/
.modal2 {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal2-content {
    background-color: #fefefe;
    padding: 20px;
    width: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px; /* 设置边框圆角 */
    font-size: 16px; /* 设置字体大小 */
}

.row {
    margin-bottom: 20px;
}

.tag-popup {
    position: fixed;
    display: none;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container2 {
    display: flex;
    align-items: center;
    margin-left: 50px;
}


#saveBtn{
    background-color: red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#saveBtn:disabled {
    background-color:rgb(169,53,110);
    cursor: not-allowed;
}

/****播放模式*****/
#play-mode-tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin-top: -60px;
}


/******最近播放*****/
#header4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title4 {
    margin: 0;
    margin-right: 10px;
}

.subtitle-container {
    display: flex;
    align-items: baseline;
    margin-right: auto;
}

.subtitle {
    margin: 0;
    margin-right: 5px;
}

.song-count {
    font-size: 80%;
}

.clear-link {
    color: blue;
    text-decoration: none;
}

.clear-link {
    color: blue;
    text-decoration: none;
}

.paginator4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.paginator4 span {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #333;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.paginator4 span:hover {
    background-color: #333;
    color: #fff;
}

.paginator4 span.active {
    background-color: #333;
    color: #fff;
}

#song-list4 table {
    border-collapse: collapse; /* 使表格边框合并为一个单一的边框 */
    width: 100%;
}
#song-list4 td, #song-list1 th {
    padding: 8px; /* 内边距 */
}
#song-list4 tr:nth-child(even) {
    background-color: rgb(250,250,250); /* 每隔一行颜色改变 */
}
#song-list4 tr:hover {
    background-color: #ddd; /* 鼠标悬停时的颜色 */
}
#song-list4 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9fcdff; /* 表头的背景颜色 */
    color: black; /* 表头的文本颜色 */
}



/****最近播放***/
